:root {
  --global-baseline: 0.5rem;
  --border-radius: 3px;

  /* colors */
  --nitor-blue: #00A7E0;
  --nitor-blue-light: #C2E3F6;
  --white: #ffffff;
  --black: #000000;
  --light-gray: #DBE0E7;
  --dark-gray: #618291;

  /* transitions */
  --hover-transition: 150ms ease-out;
}